:root{
  --primary-color: #b99121;
  --primary-color-hover: #4bd0ba;
  --text-color-default: #fff;
  --text-color-primary: var(--primary-color);
  --text-color-secondary: grey;
  --bg: #e2b317;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
